<h2>Welcome to CSE Motors!</h2>
<div class="main-wrapper">
    <section id="featured">
        <img class="background_img" src="/images/vehicles/delorean.jpg" alt="Delorean Car">
        <div class="overlay">
            <ul>
                <li class="listTitle">DMC Delorean</li>
                <li>3 Cup Holders</li>
                <li>Superman Doors</li>
                <li>Fuzzy Dice!</li>
            </ul>
            <button>Own Today!</button>
        </div>
    </section>

    <section id="reviews">
        <h3>DMC Delorean Reviews</h3>
        <ul>
            <li>"So fast it's like you're traveling in time. (4/5)"</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin; and I love it!" (5/5)
            </li>
        </ul>
    </section>

    <section id="upgrades">
        <h3>Delorean Upgrades</h3>
        <div class="upgrade_grid">
            <div class="upgrade_card">
                <figure>
                    <img src="/images/upgrades/flux-cap.png" alt="flux capacitor image" width="65" height="65">
                    <figcaption><a href="#">Flux Capacitor</a></figcaption>
                </figure>
            </div>
            <div class="upgrade_card">
                <figure>
                    <img src="/images/upgrades/flame.jpg" alt="flux capacitor image" width="65" height="82">
                    <figcaption><a href="#">Flame Decals</a></figcaption>
                </figure>
            </div>
            <div class="upgrade_card">
                    <figure>
                        <img src="/images/upgrades/bumper_sticker.jpg" alt="flux capacitor image" width="65" height="57">
                        <figcaption><a href="#">Bumper Stickers</a></figcaption>
                    </figure>
                
            </div>
            <div class="upgrade_card">
                <figure>
                    <img src="/images/upgrades/hub-cap.jpg" alt="flux capacitor image" width="65" height="65">
                    <figcaption><a href="#">Hub Caps</a></figcaption>
                </figure>
            </div>
        </div>
    </section>
</div>