/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
/******* Major sections (html, body, header, main, footer) *******/
body {
  margin: 0;
}

.background {
  /* The image used */
  background-image: url("/images/site/checkerboard.jpg");
  background-repeat: repeat;
}

#wrapper {
  background-color: white;
  border: 5px outset lightskyblue;
  border-radius: 5px;
  margin: 1.5rem auto;
  padding: .75rem;
  max-width: 1000px;

}

header, main, nav, footer {
  /* border: 2px solid rgb(12, 60, 90); */
  padding: 0 .75rem;
}

header {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  
}

header a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

header a:hover {
  color: rgb(71, 70, 70);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: white;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  list-style-type: none;
  font-size: 2.5vw;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  padding: .5rem 1rem;
}

nav a:link, a:visited {

}

nav a:hover {
  background-color: rgb(71, 70, 70);
}

main{
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

/******* Minor sections in main *******/

h1 {
  font-size: 7vw;
}

h2 {
  font-size: 5vw;
}

h3 {
  font-size: 4vw;
}

h4 {
  font-size: 2.5vw;
}

li {
  font-size: 2vw;
}

h2, h3 {
  text-align: left;
}

section {
  margin-bottom: 3rem;
}

#featured {
  position: relative;
  width: 100%;
/*  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 300px;
  background-image: url("/images/vehicles/delorean.jpg");*/
}

.backgound_img {
  width: 250px;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
  max-width: 100%;
}

.overlay {
  position: absolute;
  width: auto;
  height: auto;
  top: 30px;
  left: 10px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(172, 172, 173);
  color: white;
}

.overlay ul {
  list-style-type: none;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

.overlay button {
  display: flex;
  margin: 5px auto;
}

#reviews li {
  font-size: larger;
    margin: 10px 0;
}

.upgrade_grid{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.upgrade_card {
  display:flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(22, 16, 77);
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgb(22, 16, 77);
  margin: 1rem;
}

img {
  display: block;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  background-color: aliceblue;
}
